<!DOCTYPE html>
{% extends 'base.html' %}
      {% block body_block %}
      <br><br><br>
    <div class="container">
        <form method="post" id="fileform" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="file-upload">
                <div class="file-select">
                    <div class="file-select-button" id="fileName">
                        <h6>Upload Image</h6>
                    </div>
                    <div class="file-select-name" id="noFile">No Image Uploaded...</div>
                    <input id="chooseFile" type="file" name="myfile">
                </div>
                <br><br>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">

                    </div>

                    <div class="col-sm-4">
                        <button id="sub" class="btn btn-primary btn-lg" type="submit">Test Quality</button>
                    </div>

                </div>
            </div>

        </form>
    </div>
    <br>
      <div class="container">
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-md-4">
                {% if file_url %}
                <h1 id='filename'><strong>{{ result }}</strong></h1>
                  <img src={{ file_url }}>
                  {% else %}
                  <br>
                    <h1 style="color:white; font-size:68px;">No Preview</h1>
                {% endif %}
            </div>
        </div>
       
        </div>
        {% endblock %}